<config>
	<modules>
        <Imedia_TicketSupport>
            <version>0.1.0</version>
        </Imedia_TicketSupport>
    </modules>
	<frontend>
        <routers>
            <imedia_ticketsupport>
                <use>standard</use>
                <args>
                    <module>Imedia_TicketSupport</module> 
                    <frontName>ticketsupport</frontName>
                </args>
            </imedia_ticketsupport>
        </routers>
		<layout>
            <updates>
                <imedia_ticketsupport>
                    <file>imedia/imedia_ticketsupport.xml</file>
                </imedia_ticketsupport>
            </updates>
        </layout>
    </frontend>	
	<global>
		<helpers>
			<imedia_ticketsupport>
				<class>Imedia_TicketSupport_Helper</class>
			</imedia_ticketsupport>
		</helpers>
		<blocks>
            <imedia_ticketsupport>
                <class>Imedia_TicketSupport_Block</class>
            </imedia_ticketsupport>
        </blocks>
		<models>
            <imedia_ticketsupport>
                <class>Imedia_TicketSupport_Model</class>
                <resourceModel>imedia_ticketsupport_mysql4</resourceModel>
            </imedia_ticketsupport>
            <imedia_ticketsupport_mysql4>
                <class>Imedia_TicketSupport_Model_Mysql4</class>
                <entities>
                    <support>
                        <table>ticket_support</table>
                    </support>   
					<details>
                        <table>ticket_details</table>
                    </details> 
                </entities>
            </imedia_ticketsupport_mysql4>
        </models>
		<template>
		   <email>
			<ticket_admin_notification translate="label" module="imedia_ticketsupport">
				 <label>Customer Ticket Admin Notification</label>
				 <file>imedia/ticket_admin_notification.html</file>
				 <type>html</type>
			</ticket_admin_notification>
		   </email>
		   <email>
			<ticket_customer_notification translate="label" module="imedia_ticketsupport">
			 <label>Admin Ticket Reply Mail To User</label>
			 <file>imedia/ticket_customer_notification.html</file>
			 <type>html</type>
			</ticket_customer_notification>
		   </email>
		   <email>
			<ticket_customer_replied_notification translate="label" module="imedia_ticketsupport">
			 <label>Customer Comment On Ticket Mail To admin</label>
			 <file>imedia/ticket_customer_replied_notification.html</file>
			 <type>html</type>
			</ticket_customer_replied_notification>
		   </email>
		</template>
		<resources>
            <imedia_ticketsupport_setup>
                <setup>
                    <module>Imedia_TicketSupport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imedia_ticketsupport_setup>
            <imedia_ticketsupport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imedia_ticketsupport_write>
            <imedia_ticketsupport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imedia_ticketsupport_read>
        </resources>
	</global>	
	<admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<Imedia_TicketSupport  before="Mage_Adminhtml">Imedia_TicketSupport_Adminhtml</Imedia_TicketSupport>
					</modules>
				</args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <layout>
            <updates>
                <imedia_ticketsupport>
                <file>imedia/ticketsupport.xml</file>
                </imedia_ticketsupport>
            </updates>
        </layout>
    </adminhtml>
	<default>
		<ticketsupport>	
			<ticketsupport>	
				<departments>Sales, Support, Customer Support</departments>
			</ticketsupport>	
		</ticketsupport>
		<ticketsupport>	
			<ticketsupport>	
				<priority>Minor, Major, critical</priority>
			</ticketsupport>	
		</ticketsupport>
	</default>
</config>