<?xml version="1.0" ?>
<!--
/**
 * System configuration file
 */
-->
<config>
	
	<tabs>
		<imedia translate="label" module="imedia_ticketsupport">
			<label>Imedia Extentions</label>
			<sort_order>12</sort_order>
		</imedia>
	</tabs>

    <sections>
        <ticketsupport translate="label">
            <class>separator-top</class>
            <label>Ticket Support</label>
            <tab>imedia</tab>
            <frontend_type>text</frontend_type>
            <sort_order>13</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

			<groups>
                <ticketsupport translate="label">
                    <label>Ticket Support Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enable_ticket translate="label">
                            <label>Enable Ticket Support</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_ticket>
						<departments translate="label">
                            <label>Departments</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please enter the departments to show on frontend eg: Sales, Support, Customer Support, etc. </comment>
                        </departments>
						<priority translate="label">
                            <label>Priority</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please enter the Priority options to show on frontend eg: Minor, Major, etc. </comment>
                        </priority>
					</fields>
                </ticketsupport>
            </groups>
			
        </ticketsupport>
    </sections>
</config>